:root {
  --mdc-theme-primary: #212121;
  --mdc-theme-primary-light: #484848;
  --mdc-theme-primary-dark: #000000;
  --mdc-theme-secondary: #fafafa;
  --mdc-theme-secondary-light: #ffffff;
  --mdc-theme-secondary-dark: #c7c7c7;
  --mdc-theme-background: var(--mdc-theme-secondary);
  --mdc-theme-on-primary: var(--mdc-theme-secondary-light);
  --mdc-theme-on-secondary: var(--mdc-theme-primary-dark);
  --highlight: #e91e63;
}

*, *:after, *:before {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  background: var(--mdc-theme-secondary-light);  
}

body,
.mdc-typography--body2,
.mdc-typography--body1,
.mdc-typography--headline1,
.mdc-typography--headline2,
.mdc-typography--headline3,
.mdc-typography--headline4,
.mdc-typography--headline5,
.mdc-typography--headline6 {
  font-family: 'Noto Sans', sans-serif;  
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}